#profileWrapper{
    width: 100%;
    margin: 0px auto;
}

#profile img{
    border: 2px solid var(--nlv-red);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 25px auto;
}

#profileText{
    width: calc(85% - 40px);
    color: var(--nlv-white);
    font: 18px 'Dosis';
    text-align: center;
    padding: 0px 20px;
    margin: 0px auto;
}

#profile {
    width: 100%;
    display: block;
}