.welcomeWrapper {
    position: relative;
    height: calc(100% - 60px);
    min-height: calc(100% - 60px);
  }

  .centerInfo {
    margin: 0;
    height: fit-content;
    width: fit-content;
    text-align: left;
    color: var(--nlv-white);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
  }

  h1 {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 12rem;
    margin: 0px;
    line-height: 18px;
    color: var(--nlv-white);
  }

  .button {
    padding: 0.9rem 0.9rem 0.8rem 1rem; 
    margin: 30px;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }