@media only screen and (min-width: 768px) {
  .button {
    padding: 0.8rem 0.8rem 0.7rem 1rem; 
    margin: 20px 15px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15em;
  }
}

@media only screen and (max-width: 767px) {
  .button {
    padding: 0.6rem 0.6rem 0.5rem 0.8rem; 
    margin: 20px 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15em;
  }
}
  
  .welcomeWrapper {
    margin: 0;
    height: fit-content;
    width: fit-content;
    color: var(--nlv-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #buttonsWrapper{
    width: fit-content;
    margin: 0 auto;
  }

