.welcomeWrapper {
    position: relative;
    height: calc(100% - 60px);
    min-height: calc(100% - 60px);
  }

  .centerInfo {
    margin: 0;
    height: fit-content;
    width: fit-content;
    text-align: left;
    color: var(--nlv-white);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
  }

  h1 {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 12rem;
    margin: 0px;
    line-height: 18px;
    color: var(--nlv-white);
  }

  h3 {
    font-weight: 500;
    font-size: 3.6rem;
    letter-spacing: 1.3px;
    margin-bottom: 0px;
    color: var(--nlv-cyan);
    margin-left: 5px;
  }

  h5 {
    color: var(--nlv-gray);
    font-weight: normal;
    font-size: 1.5em;
    margin: 10px 0px 0px 0px;
  }

  .button {
    display: inline-block;
    border: 1.5px solid var(--nlv-red);
    padding: 0.8rem 1.3rem;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    margin: 45px 30px;
    transition: 0.5s;
    position: relative;
    font-family: 'Simplifica', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--nlv-white);
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .button:hover {
    border: 1.5px solid var(--nlv-cyan);
  }