/* Standard Stylings */
.wrapper {
    background: url('../../assets/images/background.jpg') no-repeat fixed center;
	height: 100%;
}

/* Desktop and Tablet Specific Stylings */
@media only screen and (min-width: 350px) {
  
}

/* Mobile Stylings */
@media only screen and (max-width: 349px) {
  
}


