@media only screen and (min-width: 768px) {
    #infoWrapper {
        width: calc(100% - 160px);
        padding: 40px 80px;
    }

    #projectSubtitle {
        font-size: 1.5rem;
    }

    .columnTitle{
        display: inline-block;
        width: 120px;
        padding-right: 15px;
        text-align: right;
        vertical-align: top;
        margin-top: 10px;
        padding-top: 4px;
    }
    
    .columnDetails {
        display: inline-block;
        width: calc(100% - 135px);
        text-align: left;
        margin-top: 15px;
        font-size: 1.1rem;
    }

    .button{
        margin: 10px 10px 0px 10px;
        padding: 0.4rem 0.5rem 0.7rem 0.7rem;
    }
}

@media only screen and (max-width: 767px) {
    #infoWrapper {
        width: calc(100% - 30px);
        padding: 15px;
    }

    #projectSubtitle {
        font-size: 1.9rem;
    }

    .projectBlurb {
        font-family: 'Dosis';
        color: var(--nlv-white);
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }

    .columnTitle{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding-top: 4px;
    }
    
    .columnDetails {
        width: 100%;
        text-align: justify;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .button{
        margin: 10px 0px 0px 5px;
        padding: 0.5rem 0.5rem 0.4rem 0.7rem;
    }
}

.wrapper {
    background-color: var(--nlv-white);
    height: 100%;
    text-align: center;
    overflow: auto;
}

.wrapper::-webkit-scrollbar {
    width: 5px;
  }
  
.wrapper::-webkit-scrollbar-track {
    background: var(--nlv-gray); 
    border-radius: 3px;
}
   
.wrapper::-webkit-scrollbar-thumb {
    background: var(--nlv-red); 
    border-radius: 3px;
}
  
.wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--nlv-cyan); 
}

#infoWrapper {
  background-color: var(--nlv-black);
  height: fit-content;
}

#projectTitle {
    font-size: 2.5rem;
    display: block;
    font-weight: 600;
    line-height: 3rem;
    color: var(--nlv-red);
}

#projectSubtitle {
    display: block;
    color: var(--nlv-cyan);
    font-style: italic;
}

#projectDetails {
    width: 100%;
}

.columnTitle{
    color: var(--nlv-cyan);
    font-size: 1.6rem;
    height: 100%;
}

.columnDetails {
    color: var(--nlv-white);
    font-family: 'Dosis';
}

.button{
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.15em;
    height: 15px;
    width: fit-content;
}