.wrapper {
    background-color: var(--nlv-white);
    height: 100%;
    text-align: center;
    overflow: auto;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
  }
  
.wrapper::-webkit-scrollbar-track {
    background: var(--nlv-gray); 
    border-radius: 3px;
}
   
.wrapper::-webkit-scrollbar-thumb {
    background: var(--nlv-red); 
    border-radius: 3px;
}
  
.wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--nlv-cyan); 
}

#infoWrapper {
  background-color: var(--nlv-black);
  width: calc(100% - 160px);
  height: fit-content;
  padding: 40px 80px;
}

#projectTitle {
    font-size: 2.5rem;
    display: block;
    font-weight: 600;
    line-height: 3rem;
    color: var(--nlv-red);
}

#projectSubtitle {
    font-size: 1.5rem;
    display: block;
    color: var(--nlv-cyan);
    font-style: italic;
}

#projectDetails {
    width: 100%;
}

.columnTitle{
    display: inline-block;
    width: 120px;
    padding-right: 15px;
    text-align: right;
    vertical-align: top;
    color: var(--nlv-cyan);
    font-size: 1.5rem;
    height: 100%;
    margin-top: 10px;
    padding-top: 4px;
}

.columnDetails {
    display: inline-block;
    width: calc(100% - 135px);
    color: var(--nlv-white);
    font-size: 1.1rem;
    font-family: 'Dosis';
    text-align: left;
    margin-top: 15px;
}

.button{
    padding: 0.4rem 0.5rem 0.7rem 0.7rem;
    margin: 10px 10px 0px 10px;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.15em;
    height: 15px;
    width: fit-content;
}