.wrapper{
    text-align: right;
    width: 465px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
}

#title {
    color: var(--nlv-white);
    font-size: 2rem;
    float: left;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.formInput{
    background-color: transparent;
    display: block;
    margin: 20px 0px;
    width: 450px;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid var(--nlv-cyan);
    font: normal 1rem 'Segoe UI';
    color: var(--nlv-white);
    text-transform: capitalize;
    padding: 8px;
}

.formInput:focus{
    outline: none;
    border-bottom: 2px solid var(--nlv-red);
}


::placeholder {
    color: var(--nlv-gray);
    opacity: 0.5;
}

.button {
    padding: 0.5rem 1rem;
    margin: 25px 0px 25px 0px;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }