.wrapper{
    text-align: center;
    width: 450px;
    margin: 0px auto;
}

.emailRow {
    font-size: 1.2rem;
    font-family: 'Dosis';
    color: var(--nlv-white);
    margin-bottom: 35px;
}

#email{
    font-size: 2rem;
    color: var(--nlv-cyan);
    line-height: 2.5rem;
}

.formInput{
    background-color: transparent;
    display: block;
    margin: 20px auto;
    width: 450px;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid var(--nlv-red);
    font: normal 1rem 'Segoe UI';
    color: var(--nlv-white);
    text-transform: capitalize;
    padding: 8px 0px;
}

.formInput:focus{
    outline: none;
    border-bottom: 2px solid var(--nlv-cyan);
}


::placeholder {
    color: var(--nlv-gray);
    opacity: 0.5;
}

.button {
    padding: 0.5rem 1rem;
    margin: 25px 0px 25px 0px;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  