header {
  height: 60px;
}

.headerContainer{
  width: 100%;
  height: fit-content;
}

.headerContainer > a {
  position: relative;
  margin: 0px 25px;
  font: 500 1.3em/60px 'Simplifica';
  color: var(--nlv-white);
  text-decoration: none;
  letter-spacing: 0.15em;
}

.headerContainer > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 16px;
  left: 0;
  background-color: var(--nlv-cyan);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.headerContainer > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.logo {
  float:left;
  width: 83px;
  margin: 5px 0px 0px 25px;
}

.headerLink {
  float: right;
}