#wrapper {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: var(--nlv-white);
    display: block;
    margin: 30px auto;
    max-width: 960px;
}

.slides{
    width: 90%;
    margin: 0 auto;
}

.videoWrapper{
    max-width: 700px;
    position: relative;
}

video {
    width: 100% !important;
    height: auto !important;
}