.wrapper{
    display: block;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.emailRow {
    font-size: 1.8rem;
    font-family: 'Dosis';
    color: var(--nlv-cyan);
    text-align: center;
    margin: 0px 0px 60px 0px;
    line-height: 3rem;
}

#email{
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#email:hover{
    border-bottom: 3px solid var(--nlv-cyan);
}

#line{
    border-top: 3px solid var(--nlv-red);
    border-bottom: none;
    border-right: 0px;
    border-left: 0px;
    width: 40%;
    margin-top: 35px;
}

.socialRow {
    color: var(--nlv-white);
    max-width: 600px;
    width: 100%;
    padding: 10px 0px;
    margin: 0px auto;
    font-size: 2rem;
    font-family: 'Dosis';
    text-align: center;
    line-height: 4rem;
    display: table;
    table-layout: fixed;
}

.socialColumn {
    cursor: pointer;
    display: table-cell;
    text-align: center;
}

.socialColumn:hover > .socialIcon > img {
    border: 1.5px solid var(--nlv-cyan);
}

.socialColumn:hover {
    text-decoration: none;
}

.socialIcon > img {
    border: 1.5px solid var(--nlv-red);
    border-radius: 50%;
    padding: 12px;
    width: 100%;
    transform: translateX(calc(-50% + 25px));
    transition: all 0.3s ease-in-out;
}

.socialIcon{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.socialIcon:hover > img{
    border: 1.5px solid var(--nlv-cyan);
}

.socialLabel {
    font-size: 1.2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}