.wrapper{
    display: block;
    width: 500px;
    margin: 0px auto;
}

.socialRow {
    color: var(--nlv-white);
    display: table;
    width: 500px;
    table-layout: fixed;
    padding: 20px 0px;
}

.socialRow > a {
    display: table-cell;
    padding: 3px 5px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    border: 1.3px solid var(--nlv-cyan);
    transform: rotate(-45deg);
}

.socialRow > a:hover {
    border: 1.3px solid var(--nlv-red);
}

.socialIcon > img {
    width: 100%;
    transform: rotate(45deg)
    scale(0.85);
    padding-left: 2px;
    padding-top: 2px;
}