/* Desktop and Tablet Specific Stylings */
footer {
  position: fixed;
  height: 25px;
  width: 100%;
  font-size: 0.7em;
  bottom: 0;
  color: var(--nlv-white);
  line-height: 25px;
  letter-spacing: 0.15em;
}

footer > a{
  margin-right: 1%;
}

@media only screen and (min-width: 768px) {
    footer {
      text-align: right;
    }
}

/* Mobile Stylings */
@media only screen and (max-width: 767px) {
  footer {
    text-align: center;
  }
}