/* Desktop and Tablet Specific Stylings */
footer {
  position: fixed;
  height: 25px;
  width: 100%;
  font-size: 0.7em;
  bottom: 0;
  text-align: right;
  color: var(--nlv-white);
  line-height: 25px;
  letter-spacing: 0.15em;
}

footer > a{
  color: var(--nlv-white);
  text-decoration: none;
  margin-right: 5px;
}

footer > a:hover{
  color: var(--nlv-cyan);
  text-decoration-line: underline;
  text-decoration-color: var(--nlv-cyan);
}

@media only screen and (min-width: 350px) {
  
}

/* Mobile Stylings */
@media only screen and (max-width: 349px) {
  
}