@media only screen and (min-width: 768px) {
    #filterWrapper {
        height: 35px;
        padding: 20px 15px 25px 0px;
    }
    
    .filterLink{
        margin: 0px 20px 0px 0px;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        padding: 8px 9px;
    }
}

@media only screen and (max-width: 767px) {
    #filterWrapper {
        height: 35px;
        padding: 15px 0px 5px 0px;
    }
    
    .filterLink{
        margin: 0px 10px 0px 0px;
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
        padding: 5px 8px;
    }
}

#filterWrapper {
    width: 100%;
    color: var(--nlv-white);
}

.filterLink{
    cursor: pointer;
    display: inline-block;
}

.selected {
    border: 1.5px solid var(--nlv-cyan) !important;
}