#filterWrapper {
    height: 35px;
    width: 100%;
    padding: 20px 15px 25px 0px;
    color: var(--nlv-white);
}

.filterLink{
    margin: 0px 20px 0px 0px;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    cursor: pointer;
    padding: 8px 9px;
    display: inline-block;
}

.selected {
    border: 1.5px solid var(--nlv-cyan) !important;
}