#scrollWrapper{
    height: calc(100% - 60px);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 600px;
}

#scrollWrapper::-webkit-scrollbar {
    height: 5px;
  }
  
  #scrollWrapper::-webkit-scrollbar-track {
    background: var(--nlv-white); 
    border-radius: 3px;
}
   
  #scrollWrapper::-webkit-scrollbar-thumb {
    background: var(--nlv-black); 
    border-radius: 3px;
  }
  
  #scrollWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--nlv-cyan); 
  }


.projectBrief {
    height: calc(100% - 10px);
    width: 250px;
    position: relative;
    margin-right: 15px;
    overflow: hidden;
    display: inline-block;
}

.projectInfo:hover {
    top:0;
    height: 100%;
}

.projectInfo:before {
    content: '';
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    clear: both;
}

.projectInfo {
    position: absolute;
    top: calc(85% - 35px);
    left: 0;
    width: calc(100% - 20px);
    height: 100%;
    transition: all 0.5s ease-in-out;
    padding: 10px;
}

.cyan:before {
    border-bottom: 10px solid var(--nlv-cyan);
}

.cyan{
    background: linear-gradient(to bottom, var(--nlv-cyan) 0%,var(--nlv-cyan) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-black);
}

.red:before {
    border-bottom: 10px solid var(--nlv-red);
}

.red{
    background: linear-gradient(to bottom, var(--nlv-red) 0%,var(--nlv-red) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-white);
}

.white:before {
    border-bottom: 10px solid var(--nlv-white);
}

.white{
    background: linear-gradient(to bottom, var(--nlv-white) 0%,var(--nlv-white) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-black);
}

.digitalGame{
    background-color: var(--nlv-black);
}

.projectTitle {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
}

.projectRole {
    display: block;
    font-size: 1.3rem;
    font-style: italic;
}

.blurb {
    color: var(--nlv-white);
    white-space: pre-wrap;
    margin-top: calc(45% - 20px);
    font-size: 1.2rem;
    padding: 0px 20px;
}


.readMore{
    width: calc(100% - 25px);
    text-align: center;
    position: absolute;
    bottom: 40px;
}

.button{
    font-size: 1rem;
    letter-spacing: 0.15rem;
    padding: 8px
}