#scrollWrapper{
    height: calc(100% - 95px);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 750px;
}

#scrollWrapper::-webkit-scrollbar {
    height: 8px;
  }
  
  #scrollWrapper::-webkit-scrollbar-track {
    background: var(--nlv-white); 
    border-radius: 3px;
}
   
  #scrollWrapper::-webkit-scrollbar-thumb {
    background: var(--nlv-red); 
    border-radius: 3px;
  }
  
  #scrollWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--nlv-cyan); 
  }


.projectBrief {
    height: calc(100% - 10px);
    width: 250px;
    position: relative;
    margin-right: 15px;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
}

.background {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
}

.background:hover {
    transform: scale(1.1);
}

.projectInfo:hover {
    top:0;
    height: 100%;
}

.projectInfo:before {
    content: '';
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    clear: both;
}

.projectInfo {
    position: absolute;
    top: calc(85% - 35px);
    left: 0;
    width: calc(100% - 20px);
    height: 100%;
    transition: all 0.5s ease-in-out;
    padding: 10px;
}

.cyan:before {
    border-bottom: 10px solid var(--nlv-cyan);
}

.cyan{
    background: linear-gradient(to bottom, var(--nlv-cyan) 0%,var(--nlv-cyan) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-black);
}

.red:before {
    border-bottom: 10px solid var(--nlv-red);
}

.red{
    background: linear-gradient(to bottom, var(--nlv-red) 0%,var(--nlv-red) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-white);
}

.white:before {
    border-bottom: 10px solid var(--nlv-white);
}

.white{
    background: linear-gradient(to bottom, var(--nlv-white) 0%,var(--nlv-white) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-black);
}

.digitalGame{
    background-color: var(--nlv-black);
}

.projectTitle {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
}

.projectRole {
    display: block;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 2rem;
}

.blurb {
    color: var(--nlv-white);
    white-space: pre-wrap;
    font-size: 1.2rem;
    padding: 0px 20px;
    position: absolute;
    top: calc(15% + 35px);
}


.readMore{
    width: calc(100% - 25px);
    text-align: center;
    position: absolute;
    bottom: 40px;
}

.button{
    font-size: 1rem;
    letter-spacing: 0.15rem;
    padding: 8px
}

#loading{
    font-family: 'dosis';
    color: var(--nlv-white);
    height: calc(100% - 15px);
    display: table;
    width: fit-content;
    margin: 0px auto;
}
#loadingText{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    padding: 0px 15px 8px 15px;
}
.ldsEllipsis {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .ldsEllipsis div {
    position: absolute;
    top: calc(50% - 8px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--nlv-cyan);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .ldsEllipsis div:nth-child(1) {
    left: 6px;
    animation: ldsEllipsis1 0.6s infinite;
  }
  .ldsEllipsis div:nth-child(2) {
    left: 6px;
    animation: ldsEllipsis2 0.6s infinite;
  }
  .ldsEllipsis div:nth-child(3) {
    left: 26px;
    animation: ldsEllipsis2 0.6s infinite;
  }
  .ldsEllipsis div:nth-child(4) {
    left: 45px;
    animation: ldsEllipsis3 0.6s infinite;
  }
  @keyframes ldsEllipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes ldsEllipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes ldsEllipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  