@media only screen and (min-width: 768px) {
    #scrollWrapper{
        height: calc(100% - 95px);
        overflow-x: auto;
        overflow-y: hidden;
    }

    #scrollWrapper::-webkit-scrollbar {
        height: 5px;
    }

    .projectBrief {
        height: calc(100% - 10px);
        display: inline-block;
        margin-right: 15px;
    }

    .background {
        height: 100%;
    }

    .background:hover + .projectInfo{
        top:0;
        height: 100%;
    }

    .projectInfo {
        top: calc(85% - 35px);
    }

    .projectInfo:hover {
        top:0;
        height: 100%;
    }

    .projectInfo:before {
        content: '';
        position: absolute;
        left: calc(50% - 10px);
        top: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        clear: both;
    }

    .projectTitle {
        font-size: 1.8rem;
    }
    
    .projectRole {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    
    .blurb {
        font-size: 1.2rem;
        padding: 0px 20px;
        top: calc(15% + 35px);
    }

    .button{
        font-size: 1rem;
        letter-spacing: 0.15rem;
        padding: 8px
    }
}

@media only screen and (max-width: 767px) {
    #scrollWrapper{
        height: calc(100% - 45px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    #scrollWrapper::-webkit-scrollbar {
        width: 3px;
    }

    .projectBrief {
        height: 335px;
        display: block;
        margin: 10px auto;
    }

    .background {
        padding-top: 100%;
    }

    .projectInfo {
        top: 250px;
    }

    .projectTitle {
        margin-top: 5px;
        font-size: 2.5rem;
    }
    
    .projectRole {
        font-size: 1.9rem;
        line-height: 2.8rem;
    }
    
    .blurb {
        font-size: 1.5rem;
        padding: 0px 10px;
        top: calc(15% + 35px);
    }

    .button{
        font-size: 1.4rem;
        letter-spacing: 0.15rem;
        padding: 8px
    }
}

#scrollWrapper{
    width: 100%;
    white-space: nowrap;
    max-height: 750px;
}
  
  #scrollWrapper::-webkit-scrollbar-track {
    background: var(--nlv-white); 
    border-radius: 3px;
}
   
  #scrollWrapper::-webkit-scrollbar-thumb {
    background: var(--nlv-red); 
    border-radius: 3px;
  }
  
  #scrollWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--nlv-cyan); 
  }


.projectBrief {
    width: 250px;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
}

.projectInfo {
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    height: 100%;
    transition: top 0.5s ease-in-out;
    padding: 10px;
}

.cyan:before {
    border-bottom: 10px solid var(--nlv-cyan);
}

.cyan{
    background: linear-gradient(to bottom, var(--nlv-cyan) 0%,var(--nlv-cyan) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-black);
}

.red:before {
    border-bottom: 10px solid var(--nlv-red);
}

.red{
    background: linear-gradient(to bottom, var(--nlv-red) 0%,var(--nlv-red) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-white);
}

.black:before {
    border-bottom: 10px solid var(--nlv-black);
}

.black{
    background: linear-gradient(to bottom, var(--nlv-black) 0%,var(--nlv-black) calc(15% + 35px),#000000 calc(15% + 35px),var(--nlv-black) calc(15% + 35px),var(--nlv-black) 100%);
    color: var(--nlv-white);
}

.digitalGame{
    background-color: var(--nlv-black);
}

.projectTitle {
    display: block;
    font-weight: 600;
}

.projectRole {
    display: block;
    font-style: italic;
}

.blurb {
    color: var(--nlv-white);
    white-space: pre-wrap;
    position: absolute;
}

.readMore{
    width: calc(100% - 25px);
    text-align: center;
    position: absolute;
    bottom: 40px;
}